# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Node
node_modules/
dist/
.angular/

# Datasets
backend/datasets/

# Vector DB (ChromaDB)
backend/knowledge_base/vector_db/

# GCP Keys
gcp_key.json
*.zip